*{
    font-family: 'Silkscreen', sans-serif;
  }
  body{
    margin: 0;
  }
  table{
    border: solid 1px black;
    text-align: center;
    justify-content: center;
  }  
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
  
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    z-index: 0;
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background:rgb(255, 115, 0); 
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 5px;
    transition-duration: .5s;
  }
  .menu__icon {
    width: 10%;
    height: auto;
    transition-duration: .5s;
  }
  .menu__text {
    display: block;
    color: #000000;
    font-family: 'Silkscreen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .5s;
  }
  .menu__item:hover { background-color: black; }
  .menu__item:hover > .menu__text { color: white; }
  .menu__item:hover > .menu__icon { filter: invert(100%); }
  .container {
    width: 100%;
  }
  
  .scroll {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translatey(-50%);
  }
  
  i {
     color: white;
    font-size: 30px;
  }
  
  .title, .background1, .background2, .background3 {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .background1 {
    background-image: url(../img/04510212-4d26-4ef1-971a-4356f48303ea.jpeg);
    opacity: 0.7;
    
  }
  
  .background2 {
    background-image: url(../img/a7ae4d2e-a83f-4522-b52b-0fba335b58e4.jpeg);
  }
  
  .background3 {
    background-image: url(../img/67a4f303-c37b-4374-81e6-8e272cc52eb0.jpeg);
  }
.background1 > h1{
  padding: 10px;
  z-index: 2;
  color: white;
  text-align: left;
}
.background1 > p{
  padding-right: 15%;
  padding-top: 10%;
  color: white;
}

  